* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #888888;
	color: #006600;
	font-family: "HelveticaNeueLT Std Lt Cn", sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
h1 {
	font-family: "Ar Bonnie", sans-serif;
	font-size: 3em;
	font-weight: 600;
}
p {
	margin-top:1em;
}
nav a {
	color: inherit;
	text-align: left;
	text-decoration:none;
}

#splash {
	background:url(../images/hero_1_edited1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
}
#slogan {
	font-style: italic;
}
